
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    margin-top: 15%;
}
.container{
   margin: auto;
   height: fit-content;
   width: 350px;
   background-color: rgb(157, 168, 168);
   font-size: 50px;
}
.marg{
    padding: .5rem;
    border: 1px solid black;
    text-align: center;
}
.marg:hover{
    background-color: rgb(218, 230, 230);
    cursor: pointer;
}
.marg:active{
    transform: scale(.9) translateY(1px);
}
.orange{
    background-color: orangered;
    color: white;
    
}
.orange:hover{
    background-color: rgb(252, 125, 79);
}

.results{
    background-color: rgb(57, 66, 66);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    font-size: 30px;
    font-weight: 900;
}

.input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    height: 1.5rem;

}



.margin{
    margin-right: 1em;
    
}

.zero{
    grid-column: 1 / 3;
}


.controls{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: repeat(5, auto);
}


